body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}




.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}


#navigation {
	position: fixed ;
	top: 0 ;
	left: 0 ;
	z-index: 9999 ;
	width: 100% ;
	background-color: #47c9af ;
	padding-top: 10px ;
	padding-bottom: 10px ;
}



.smoothScroll {
	margin: 10px ;
	color: white;
	text-decoration: none ;
	font-weight: bold ;
	font-family: "Trebuchet MS", Helvetica, sans-serif ;
}

.bg
{
	float: right;
	border-radius: 50%;
	width: 250px;
	height: 250px;
}